{{materialize/select-input 
	label="of what Max" 
	options=maxesOptions 
	onChange=(action "maxSelected")
}}

<!--
<div id="{{!modalId}}" class="modal">
	<div class="modal-content">

		{{!page-heading title="Create Max" bottomMargin=false}}

		{{!#if newMax}}
			{{!max-form
				max=newMax
				isCompact=true
				onSave=(action "addNewMax")
				onComplete=(action "addNewMaxComplete")
				onCancel=(action "addNewMaxCancel")
			}}
		{{!/if}}
	</div>
</div>
-->