<div class="valign-wrapper">
	<div class="full-width">
		<span class="blue-grey-text" style="font-size:2em;">{{title}}</span>
	</div>
	{{yield}}
</div>

<div class="divider"></div>

{{!-- Just a way to provide a consistent margin for the content below this heading --}}
{{#if bottomMargin}}
	<div class="row"></div>
{{/if}}
