{{!-- https://materializecss.com/sidenav.html --}}

<li>
	<div class="user-view">
		<div class="background">
			<img src="/images/athlete-barbell-bodybuilder-949129_600x400.jpg" alt="Athlete Barbell Bodybuilder" class="responsive-image" />
		</div>
		<div style="height: 100px;"></div>
		<div>
			<span class="white-text" style="font-weight: bold; font-size: 1.5em;">Overcome Gravity</span>
		</div>
	</div>
</li>
<li>
	{{link-to "Home" "index" class="sidenav-close"}}
</li>
<li>
	{{link-to "Create a Workout" "workout" "new" (query-params mode="edit") class="sidenav-close"}}
</li>
<li>
	<div class="divider"></div>
</li>
<li>
	{{link-to "Workouts" "workouts" class="sidenav-close"}}
</li>
<li>
	{{link-to "Max Lifts" "maxes" class="sidenav-close"}}
</li>

{{!--

<li>
	<div class="user-view">
		<div class="background">
			<img src="images/office.jpg" />
		</div>
		<a href="#user"><img class="circle" src="images/yuna.jpg"></a>
		<a href="#name"><span class="white-text name">John Doe</span></a>
		<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
	</div>
</li>
<li>
	<a href="#!">Second Link</a>
</li>
<li>
	<div class="divider"></div>
</li>
<li>
	<a class="subheader">Subheader</a>
</li>
<li>
	<a class="waves-effect" href="#!">Third Link With Waves</a>
</li>

--}}