<div class="row">
	<div class="col s12 input-field">
		{{materialize/number-input
			value=weight
			label="Weight"
		}}
	</div>
</div>

{{!-- DO NOT PUT ACTIONS ON THESE INPUTS, IT BREAKS MATERIALIZE --}}
{{#materialize/radio-input inputName="weight-type" onChange=(action "weightTypeChange")}}
	<div class="row">
		<div class="col">
			<label for="weight-kg">
				{{!-- TODO: The weight type to default to here needs to be configed based on the user's choice --}}
				{{#if isKG}}
					<input name="weight-type" type="radio" id="weight-kg" value="kg" checked />
				{{else}}
					<input name="weight-type" type="radio" id="weight-kg" value="kg" />
				{{/if}}
				<span>KG</span>
			</label>
		</div>
		<div class="col">
			<label for="weight-lbs">
				{{#if isKG}}
					<input name="weight-type" type="radio" id="weight-lbs" value="lbs" />
				{{else}}
					<input name="weight-type" type="radio" id="weight-lbs" value="lbs" checked />
				{{/if}}
				<span>LBS</span>
			</label>
		</div>
	</div>
{{/materialize/radio-input}}
