<div class="row no-bottom-padding">
	<div class="col s12 input-field">
		{{materialize/number-input
			value=weight
			label="Weight"
		}}
	</div>
</div>

{{!-- DO NOT PUT ACTIONS ON THESE INPUTS, IT BREAKS MATERIALIZE --}}
{{#materialize/radio-input onChange=(action "weightTypeChange") inputName="weight-type" as |name|}}
	<div class="row">
		<div class="col">
			<label for="weight-kg">
				{{materialize/radio-input-element id="weight-kg" name=name value="kg" checked=isKG}}
				<span>KG</span>
			</label>
		</div>
		<div class="col">
			<label for="weight-lbs">
				{{materialize/radio-input-element id="weight-lbs" name=name value="lbs" checked=isLBS}}
				<span>LBS</span>
			</label>
		</div>
	</div>
{{/materialize/radio-input}}
