{{!-- The following component displays Ember's default welcome message. --}}
{{!welcome-page}}
{{!-- Feel free to remove this! --}}

<header>
	<nav>
		<div class="nav-wrapper">

			<span style="margin-left:10px; font-size:1.5em;">
				{{link-to "Overcome Gravity" "index" }}
			</span>
			
			{{!-- This hamburger menu will disappear automatically on large+ views. --}}
			<a href="#" data-target="navigation-slide-out" class="right sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>

			{{!-- LARGE+ VIEW --}}
			<ul class="right hide-on-med-and-down">
				<li>
					{{link-to "Max Lifts" "maxes"}}
				</li>
			</ul>

		</div>
	</nav>

	{{side-nav id="navigation-slide-out"}}

</header>

<main class="container" style="padding-top:10px;">
	{{outlet}}
</main>

<footer class="page-footer">
	<div class="container">
		<p>Copyright</p>
	</div>
</footer>
