<div class="row"></div>

<div class="row center-align">
	<div>Welcome</div>
	<div>to</div>
	<div>Overcome Gravity</div>
</div>

<div class="row">
	<div class="col s12">
		{{#link-to "workouts" class="btn-large full-width"}}
			TRY AS GUEST
		{{/link-to}}
	</div>
</div>