{{page-heading title="Maxes"}}

{{maxes-list maxes=sortedMaxes editMax=(action "editMax")}}

<div class="row">
	{{#link-to "max" "new" class="btn-large full-width"}}
		ADD
	{{/link-to}}
</div>

{{outlet}}